.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgb(68, 66, 66);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;

  a {
    text-decoration: none;
    font-weight: 700;
    color: #EE8434;
  }

  .main {
    height: 100%;
    width: 100%;

    .section-background {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      margin: 0;
      height: 100vh;
      vertical-align: middle;
    }

    #welcome-page {
      background-image: url('./photos/welcome-page-2.jpg');
      color: white;

      .welcome {
        margin: 0;
        padding: 70vh 0 15vh 20vh;
      }
    }

    #mayor {
      background-image: url('./photos/city-we-can-afford.JPG');
      opacity: 0.85;
      justify-content: center;
      align-items: center;

      .text-box {
        background-color: #006C67;
        color: white;
        padding: 20px;
        max-width: 60vh;
        max-height: fit-content;

        h1 {
          margin-top: 0;
        }
      }
    }

    #about-me {
      display: flex;

      .img-container {
        width: 50%;
        height: 100%;
        padding: 20px;
        img {
          width: 100%;
        }
      }

      #about-text {
        width: 50%;
        margin: 20px;

        .about-intro {
          margin: 0;
        }
      }
    }

    #software {
      background-color: #006C67;
      color: white;

      .software-text {
        width: 60%;
        padding-right: 50px;
      }

      .software-imgs {
        width: 40%;
        .software-img {
          width: 100%
        }

        img {
          width: 100%;
        }

        div:not(:first-child) {
          margin-top: 20px;
        }
      }
    }

    .row {
      padding: 40px 32px;
      display: flex;
      background-color: rgba(238, 236, 236, 0.9);
      background-size: cover;
      background-position: center center;
      margin: 0;
      background-repeat: no-repeat;
      background-attachment: fixed;

      .volunteer-container {
        text-align: center;
      }

      .centered-content {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 5vh;

        .project-container {
          display: flex;
          margin-bottom: 60px;

          div:not(:first-child) {
            margin-left: 30px;
          }

          h2 {
            background-color: #EE8434;
            font-size: 1em;
            margin: 0;
            padding: 5px;
            border-radius: 5%;
          }

          .volunteer-exp {
            min-height: 40vh;
            min-width: 40vh;
            color: white;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0;
            text-align: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
              opacity: .7;
            }
          }

          .out-in-tech {
            background-image: url('./photos/oit.png');
          }

          .out-foundation {
            background-image: url('./photos/out-foundation.jpeg')
          }

          .zohran-for-mayor {
            background-image: url('./photos/zohran-for-mayor.jpeg')
          }
        }
      }

      .button-container {
        margin-top: 20px;
        button {
          margin: 5px 12px;
          color: white;
          background-color: #006C67;
          border: none;
          cursor: pointer;
          font-weight: bold;
          padding: 8px;
          border-radius: 5px;
        }
        
        & > :not(first-child) {
          margin-left: 0;
        }
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(238, 236, 236, 0.9);
  min-height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .name {
    font-size: calc(2vmin);
    padding: 0 4vh;
  }

  .menu {
    padding: 0 1vh;
    margin: .83em 0;
    background: transparent;
    border: none;
    font-weight: bold;
    color: rgb(68, 66, 66);
    cursor: pointer;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
