$breakpoints: (
  mobile: 0px,
  tablet: 600px,
  tablet-large: 750px,
  desktop: 1025px
);

@mixin media($keys...) {
  @each $key in $keys {
    @media (min-width: map-get($breakpoints, $key)) {
      @content
    }
  }
}

.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgb(68, 66, 66);
  line-height: 1.5;

  @include media(mobile) {
    font-size: .8em;
  }

  @include media(tablet, tablet-large) {
    font-size: 1.5em;
    font-weight: 550;
  }

  @include media(desktop) {
    font-size: 1em;
    font-weight: 400;
  }

  .main {
    height: 100%;
    width: 100%;

    a {
      text-decoration: none;
      font-weight: 700;
      color: #EE8434;
    }

    .section-background {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      margin: 0;

      // height: 100vh;
      vertical-align: middle;
    }

    #welcome-page {
      background-image: url('./photos/welcome-page-2.jpg');
      color: white;

      .welcome {
        margin: 0;

        @include media(tablet, mobile) {
           padding: 70vh 0 8vh 6vh;         
        }

        @include media(tablet, tablet-large) {
           padding: 80vh 0 12vh 8vh;         
        }
        
        @include media(desktop) {
          padding: 70vh 0 15vh 20vh;
        }
      }
    }

    #volunteer {
      justify-content: center;
    }

    .justify-center {
      justify-content: center;
    }

    #mayor {
      background-image: url('./photos/city-we-can-afford.JPG');
      opacity: 0.85;
      justify-content: center;
      align-items: center;

      .text-box {
        background-color: #006C67;
        color: white;
        padding: 20px;
        max-height: fit-content;

        h1 {
          margin-top: 0;

          @include media(mobile) {
            font-size: 1em;
          }
        }

        @include media(mobile, tablet, tablet-largefont-size) {
          max-width: 50vh;
        }

        @include media(desktop) {
          max-width: 60vh;
        }
      }
    }

    #about-me {
      display: flex;

      .img-container {
        height: 100%;
        padding: 20px;
        img {
          width: 100%;
        }

        @include media(desktop) {
          width: 50%;
        }
      }

      #about-text {
        margin: 20px;

        .about-intro {
          margin: 0;
        }

        @include media(desktop) {
          width: 50%;
        }
      }
    }

    .resume-page {
      background-color: #006C67 !important;
      color: white;

      .resume-text {
        @include media(desktop) {
          width: 60%;
          padding-right: 50px;
        }
      }

      img {
          width: 100%;
      }
      
      .software-img {
        width: 100%
      }

      .software-imgs {
        @include media(desktop) {
          width: 40%;
        }

        div:not(:first-child) {
          margin-top: 20px;
        }
      }
    }

    .flex-content {
      @include media(desktop) {
        display: flex;
      }
    }

    .flex-content-carousel {
      display: flex;
    }

    .row {
      padding: 40px 32px;
      background-color: rgba(238, 236, 236, 0.9);
      background-size: cover;
      background-position: center center;
      margin: 0;
      background-repeat: no-repeat;
      background-attachment: fixed;

      .volunteer-container {
        text-align: center;
      }

      .centered-content {
        align-items: center;
        height: 100%;

        @include media(mobile) {
          margin: 0;
        }

        @include media(desktop) {
          margin: 5vh;
        }

        .project-container {
          
          @include media(desktop) {
            display: flex;
          }
          margin-bottom: 60px;

          a:not(:first-child) {
            margin-left: 30px;
          }

          h2 {
            background-color: #EE8434;
            font-size: 1em;
            margin: 0;
            padding: 5px;
            border-radius: 10%;
          }

          .volunteer-exp {
            color: white;
            min-height: 40vh;
            min-width: 40vh;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0;
            text-align: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
              opacity: .7;
            }
          }

          .out-in-tech {
            background-image: url('./photos/oit.png');
          }

          .out-foundation {
            background-image: url('./photos/out-foundation.jpeg')
          }

          .zohran-for-mayor {
            background-image: url('./photos/zohran-for-mayor.jpeg')
          }
        }
      }

      .center-carousel {
        margin: 0 auto;
      }

      .carousel-container {
        flex-wrap: nowrap;
        overflow: hidden;
        width: auto;
      }

      .carousel-slide {
        overflow: hidden;
        align-items: center;
        justify-content: center;
        transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);

        img {
          height: 100%;
          width: auto;
          object-fit: contain;
        }
        
        @include media(mobile) {
          height: 20rem;
        }

        @include media(tablet) {
          height: 35rem;
        }

        @include media(tablet-largefont-size) {
          height: 60rem;
        }

        @include media(desktop) {
          height: 40rem;
        }
      }

      .inactive-slide {
        display: none;
      }

      .button-container {
        margin-top: 20px;
        a, button {
          font-size: 1em;
          margin: 5px 12px;
          color: white;
          background-color: #EE8434;
          border: none;
          cursor: pointer;
          font-weight: bold;
          padding: 8px;
          border-radius: 5px;
        }
        
        & > :not(first-child) {
          margin-left: 0;
        }

        & > :last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.App-header {
  background-color: rgba(238, 236, 236);
  min-height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;

  a {
    text-decoration: none;
    color: rgb(68, 66, 66);
  }

  .name {
    font-size: 1em;

    @include media(mobile) {
      padding: 0 2vh;
    }

    @include media(tablet, tablet-large, desktop) {
      padding: 0 4vh;
    }
  }

  .menu {
    font-size: 1em;
    padding: 0 1vh;
    margin: .83em 0;
    background: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }

  .menu-container {
    .menu-accordion {        
      .menu-line {
        width: 20px;
        height: 2px;
        background-color: rgb(68, 66, 66);
        margin: 3px 0;
      }

      &:hover {
        cursor: pointer;
      }

      @include media(desktop, tablet, tablet-large) {
        margin: 10px 50px;
      }

      @include media(mobile) {
        margin-right: 16px;
      }
    }

    .menu-dropdown {
      margin-top: 12px;
      border-top: rgb(68, 66, 66) 1px solid;
      position: absolute;
      background-color: rgba(238, 236, 236);

      div {
        min-width: 100px;
        text-align: center;

        &:hover {
          cursor: pointer;
        }
      }

      @include media(desktop, tablet, tablet-large) {
        margin-right: 50px;
      }

      @include media(mobile) {
        margin-right: 16px;
        right: 0;
      }
    }
  }
}

.App-link {
  color: #61dafb;
}

